:root {
  --logo-width: 50px;
  --header-height: calc(calc(var(--logo-width) * 1.25) + calc(var(--pad-2) * 2));
}
@media (min-width: 768px) {
  :root {
    --logo-width: 80px;
  }
}
@media (min-width: 1024px) {
  :root {
    --logo-width: 100px;
  }
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--pad-2);
}

.logo {
  max-width: var(--logo-width);
}
.logo svg {
 width: 100%;
 display: inline-block;
}
.logo svg > * {
  fill: currentColor;
}


#__nuxt {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}

main {
  flex: 1 0 auto;
  /* Optional: add padding or margin as needed */
  padding-top: var(--header-height);
}