:root {
  --black: #000;
  --white: #fff;
  --color-bg: var(--white);
  --color-text: var(--black);
  --color-link: var(--black);
  --circle-font-size: var(--h5);
  --body-font: 'DM Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dark {
  --color-bg: var(--black);
  --color-text: var(--white);
  --color-link: var(--white);
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  font-family: var(--body-font);
  line-height: 1.2;
  color: var(--color-text);
  background: var(--color-bg);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--body-font);
  font-weight: 500;
  margin-bottom: 0em;
}



/* ---------------------------------
LARGE TITLES
--------------------------------- */ 


.h1     { line-height: 1.2; }
.h2     { line-height: 1.2; }
.h3     { line-height: 1.0; }
.h4     { line-height: 1.2; }
.h5     { line-height: 1.2; font-weight:500;}
.h6     { line-height: 1.2; }
body    { line-height: 1.2; }
.rte    { line-height: 1.2; }

.h1, .rte h1 { font-size: var(--h1); }
.h2, .rte h2 { font-size: var(--h2); }
.h3, .rte h3 { font-size: var(--h3); }
.h4, .rte h4 { font-size: var(--h4); }
.h5, .rte h5 { font-size: var(--h5); }
.h6 { font-size: var(--h6); }
body { font-size: var(--body); }
.rte h6 { font-size: var(--h8); line-height: 1.4; }

:root {
  --unit: 14px;
  --unit-reference: 1600;
  --h1: calc((42 / (var(--unit-reference) / 100)) * var(--unit));
  --h2: calc((40 / (var(--unit-reference) / 100)) * var(--unit));
  --h3: calc((34 / (var(--unit-reference) / 100)) * var(--unit));
  --h4: calc((30 / (var(--unit-reference) / 100)) * var(--unit));
  --h5: calc((20 / (var(--unit-reference) / 100)) * var(--unit));
  --h6: calc((17 / (var(--unit-reference) / 100)) * var(--unit));
  --body: calc((26 / (var(--unit-reference) / 100)) * var(--unit));
}


@media all and (min-width:768px) {
    :root {
        --unit: 14px;
    }
}

@media all and (min-width:1024px) {
    :root {
        --unit: 1vw;
    }
}

@media all and (min-width:1600px) {
  :root {
    /*--h5: 20px;*/
  }
}




.circle--heading {
  display: flex;
  align-items: center;
  gap: calc(var(--circle-font-size) * 0.85);
  font-size: var(--circle-font-size);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}

.circle {
  width: calc(var(--circle-font-size) * 0.85);
  height: calc(var(--circle-font-size) * 0.85);
  border-radius: 50%;
  background: var(--color-text);
  display: inline-block;
  aspect-ratio: 1 / 1;
}

.circle--active li a, 
.circle--hover li a {
  position:relative;
}
.circle--active li a:before, 
.circle--hover li a:before {
  content: '';
  position: absolute;
  height:calc(var(--circle-font-size) * 0.85);
  width:calc(var(--circle-font-size) * 0.85);
  background:currentColor;
  border-radius:50%;
  top:calc(var(--circle-font-size) * 0.225);
  left:calc(var(--circle-font-size) * -1.45);
  opacity:0;
}
.circle--active li a.active:before, 
.circle--hover li a:hover:before {
  opacity:1;
}

.h5 .circle--active li a:before, 
.h5 .circle--hover li a:before {
  --circle-font-size: var(--h5);
}

.circle {
  width: calc(var(--circle-font-size) * 0.85);
  height: calc(var(--circle-font-size) * 0.85);
  border-radius: 50%;
  background: var(--color-text);
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}
.transform-none {
  text-transform: none;
}